#$ cat .gitignore

/*.txt
/[Tt]mp/

# -- NetBeans --
#nbproject/private/*
#nbproject/*.properties
#nbproject/private/config.properties
#nbproject/private/private.properties

# -- bower --
admin/assets/plugins/
# -- npm --
node_modules/

# -- Composer --
vendor/
composer.lock

# -- img --

# -- Projetos --
app/CONFIG/ConfigDB.Class.php