
<div class="row" id="infoCotaHome">
    
    <div class="col-xs-12 col-sm-4 col-md-4  col-lg-4 ">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3 id="limite">0</h3>
                <p>Limite total </p>
            </div>
            <div class="icon">
                <i class="ion-stats-bars"></i> <!-- <i class="ion-stats-bars"></i>  -->
            </div>
            <a href="#" class="small-box-footer">
                <!--Mais informações--> 
                <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    
    <div class="col-xs-6 col-sm-4 col-md-4  col-lg-4 ">
        <div class="small-box bg-green">
            <div class="inner">
                <!--<sup style="font-size: 20px">%</sup>--> 
                <h3 id="disponivel">0</h3>
                <p>Cotas disponiveis</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">
                <!--Mais informações--> 
                <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    
    <div class="col-xs-6 col-sm-4 col-md-4  col-lg-4 ">
        <div class="small-box bg-red">
            <div class="inner">
                <h3 id="consumido">0</h3>
                <p>Cotas Usadas</p>
            </div>
            <div class="icon">
                <!--ion-pie-graph-->
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">
                <!--Mais informações--> 
                <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    
<!--    <div class="col-lg-3">
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3 id="">0</h3>
                <p>Usuarios do Pykota</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">               
                <i class="fa fa-arrow-circle-right"></i> 
            </a>
        </div>
    </div>-->
    <!-- ./col -->

</div>
