
                                    <table class="table table-bordered table-responsive display hover stripe" id="dataTablesHome">
                                        <thead>
                                            <tr>
                                                <th>Idg</th>
                                                <th>Idu</th>
                                                <th>Grupo</th>
                                                <th>Responsáveis</th>
                                                <th>Limite</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
