
                                    <table class="table table-bordered table-responsive display hover stripe" id="dataTablesHome">
                                        <thead>
                                            <tr>
                                                <th>Idg</th>
                                                <th>Idu</th>
                                                <th>IdP</th>
                                                <th>Usuários</th>
                                                <th>Grupo</th>
                                                <th>Impressora</th>
                                                <th>limite</th>
                                                <th>Cota</th>
                                                <!--<th>Opções</th>-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
