<!-- BEGIN BLOCK_BTNs -->
<div class="form-group">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
        <button type="submit" class="btn btn-theme col-xs-12 col-sm-12 col-md-12 col-lg-12">Salvar</button>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
        <a class="btn btn-danger col-xs-12 col-sm-12 col-md-12 col-lg-12" onclick="window.location.href = '{caminhos}controle/cad_Usuario.php?acao=sc';">Cancelar</a>
    </div>
</div>
<!-- END BLOCK_BTNs -->
<!-- BEGIN BLOCK_BTNv -->
<div class="form-group">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
        <button type="button" class="btn btn-default col-xs-12 col-sm-12 col-md-12 col-lg-12" onclick="window.location.href = '../index.php';">Home</button>
    </div>
<!--    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
        <button type="button" class="btn btn-primary col-xs-12 col-sm-12 col-md-12 col-lg-12" onclick='window.location.href = "{caminhos}controle/cad_Usuario.php?acao=as&id={idUse}"'>Tocar Senha</button>
    </div>-->
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
        <button type="button" class="btn btn-success col-xs-12 col-sm-12 col-md-12 col-lg-12" onclick='window.location.href = "{caminhos}controle/cad_Usuario.php?acao=ai&id={idUse}"'>Alterar Foto</button>
    </div>
</div>
<!-- END BLOCK_BTNv -->