<script src="{caminho}assets/js/Clonar_ou_Remover_Linhas.js"></script>

<!--script_ToTest-->
<script type="text/javascript">
    //arredonda valor
    function arredondamento(x, n){
        if (n < 0 || n > 10)
            return x;
        var pow10 = Math.pow(10, n);
        var y = x * pow10;
        return Math.round(y) / pow10;
    }

    function calcular() {
        var i = 0;
        var qdd = 0;
        var valor = 0;
        var valort = 0;
        var total = 0;
        var inputs = document.getElementsByTagName('input');
        while (i <= inputs.length - 1)
        {
            if (inputs[i].name == 'qdd[]') {
                qdd = inputs[i].value;
                console.log(qdd);
            }
            if (inputs[i].name == 'valor[]') {
                valor = inputs[i].value;
                console.log(inputs[i].value);
            }
            if (inputs[i].name == 'valort[]') {
                valort = valor * qdd;
                inputs[i].value = valort;
                console.log(valort);
            }
            i++;
//            total =  parseFloat(inputs[i].value) + parseFloat(total);
        }
    }
//    document.getElementById("resultado").value = this.arredondamento(total, 2).toFixed(2);
//    this.arredondamento(total, 2).toFixed(2);

//refresh na pagina
    function autoRefresh(interval) {
        setTimeout("atualizar();", interval);
    }

    function atualizar() {
        this.calcular();
        this.autoRefresh(30);
    }

    $(document).ready(function () {
//        atualizar();
    });
</script>