<!DOCTYPE html>
<html lang="{lang}">
  <head>
    {HEAD}
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      {HRADER_MENU}
      <div class="content-wrapper">
        <!-- Seção principal -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="box with-border">
                <div class="box-header">
                    <h1>Para Instalar Impressoras</h1>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-responsive display nowrap" width="100%" id="dataTablesList">
                        <thead>
                            <tr>
                                <th>Nome</th> 
                                <th>Link de instalação</th>
                            </tr>
                        </thead>
                        <tbody class="data">
                                            <!-- BEGIN BLOCK_LISTAS -->
                                            <tr>
                                                <td>{printername}</td> 
                                                <td>{LinkIpPrinters}</td>
                                            </tr>
                                            <!-- END BLOCK_LISTAS -->
                            
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- /.content-wrapper -->
      {FOOTER}
    </div>
    <!-- /.wrapper -->

    {SCRIPT_UTIL}
    {SCRIPT}
    <script type="text/javascript">
         //dataTable list - dataTablesList
        $('#dataTablesList').DataTable({
            "responsive": true,
            "language": {
                "url": "../assets/language/datatables/Portuguese-Brasil.json"
            },
            "pagingType": "full_numbers"
        });
    </script>
    <script type="text/javascript"> //Refet(1, 6000);</script>

  </body>
</html>
