<!DOCTYPE html>
<html lang="{lang}">
    <head>
        {HEAD}
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            {HRADER_MENU}
            <div class="content-wrapper">
                <!-- Seção principal -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="box with-border">
                                <div class="box-header">
                                    <div class="box-body">
                                        <div class="box box-primary">
                                            <div class="box-header">
                                                <h4><i class="fa fa-angle-right"></i> {page} </h4>
                                                <div class="row text-center"><div id="msg" class="msg"> {msg} </div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <table class="table table-bordered table-responsive display " width="100%" id="dataTablesList">
                                        <thead>
                                            <tr>
                                                <!--<th class="">Id</th>-->
                                                <th class="col-xs-12 col-sm-6 col-md-4 col-lg-4">Grupo</th>
                                                <th class="col-xs-12 col-sm-12 col-md-5 col-lg-5">Responsavel</th>
                                                <th class="col-xs-0 col-sm-5 col-md-2 col-lg-2 column_hidden">Limite de Cota</th>
                                                <th class="col-xs-12 col-sm-1 col-md-1 col-lg-1">Opções</th>
                                            </tr>
                                        </thead>
                                        <tbody class="">
                                            <!-- BEGIN BLOCK_LISTAS -->
                                            <tr>
                                                <td>{grupo}</td>
                                                <td>{usuario}</td>
                                                <td class="column_hidden">{LimiteSetor}</td>
                                                <td>
                                                    <a href='{caminhos}controle/cad_Controle.php?acao=vg&idg={idg}&idu={idu}' title='Ver' class="btn btn-primary">Ver</a>
                                                </td>
                                            </tr>
                                            <!-- END BLOCK_LISTAS -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                {ModalOpcoes_Grupo}
            </div>
            <!-- /.content-wrapper -->
            {FOOTER}
        </div>
        <!-- /.wrapper -->
        {SCRIPT_UTIL}
        {SCRIPT}
        <!--<script src="{caminho}assets/js/LSTResponsividadejs.js" type="text/javascript"></script>-->
        <script src="{caminho}assets/js/lstGroupMontando.js" type="text/javascript"></script>
        <script type="text/javascript"> //Refet(1, 6000);</script>

    </body>
</html>
