<!DOCTYPE html>
<html lang="{lang}">
    <head>
        {HEAD}
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            {HRADER_MENU}
            <div class="content-wrapper">
                <!-- Seção principal -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="box with-border">
                                <div class="box-header">
                                    <div class="box-body">
                                        <div class="box box-primary">
                                            <div class="box-header">
                                                <h3><i class="fa fa-angle-right"></i> {page} {B->CAMPOI}</h3>
                                                <div class="row">
                                                    <input type="hidden" name="" value="{B->ID}" id="idg" class="idg" />
                                                    <input type="hidden" name="" value="{IDRESPONSAVEL}" id="IDRESPONSAVEL" class="" />
                                                    <input type="hidden" name="limiteGeralGroup" value="{BR->CAMPOVII}" id="limiteGeralGroup" class="" /> <!-- limete deponivel  -->
                                                    <input type="hidden" name="limiteUsadoGeralGroup" value="{BR->CAMPOVI}" id="limiteUsadoGeralGroup" class="" /> <!-- limite mesal usado -->
                                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"><h4><b>Reponsavel:</b>  {B->CAMPOII}</h4></div>
                                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"><h4><b>Limite do Geral</b>  {B->CAMPOIII}</h4></div>
                                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"><h4><b>Limite/Disponivel do Geral</b>  {B->CAMPOVII}</h4></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4"><h4><b>Limite Usado Mensal:</b> {B->CAMPOVI}</h4></div>
                                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"><h4><b>Consumido:</b> {B->CAMPOIV}</h4></div>
                                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"><h4><b>Disponivel:</b> {B->CAMPOV}</h4></div>
                                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 text-right">
                                                        <button class="btn btn-primary btnVoltar" id="btnVoltar">Voltar</button>
                                                    </div>
                                                </div>
                                                <div class="row text-center"><div class="msg"> {msg} </div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div role="tabpanel">
                                        <ul class="nav nav-tabs" role="tablist">
                                            {PRESENTATIONI}
                                            {PRESENTATIONII}
                                        </ul>
                                        <div class="tab-content"><br/>
                                          {TABPANELI}
                                          {TABPANELII}
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                {ModalUpdateConta}
                {ModalVUsersResp}
            </div>
            <!-- /.content-wrapper -->
            {FOOTER}
        </div>
        <!-- /.wrapper -->
        {SCRIPT_UTIL}
        {SCRIPT}
        <script src="{caminho}assets/js_json/Json_VerGroup{quotaOUbalance}.js" type="text/javascript"></script>
        <script type="text/javascript">
            //Refet(1, 6000);
        </script>

    </body>
</html>
