
/*
    Created on : 13/04/2016, 13:26:15
    Author     : AbÍlio José Gomes Ferreira
*/

/*///////////////////////////////*/
/*viewport*/
@-ms-viewport {
    width: device-width;
    font-size: 1vw;
}

@-o-viewport {
    width: device-width;
    font-size: 1vw;
}

@viewport {
    width: device-width;
    /*user-zoom: fidex;*/
    /*zoom: 1;*/
    /*min-zoom: 0.5;*/
    /*max-zoom: 4;*/
    /* portrait, landscape ou auto */
    orientation: auto;
    /*a fonte ocupa 1% da largura do meu viewport*/
    /*font-size: 1vw;*/
    /*a fonte ocupa 1% da altura do meu viewport*/
    /*font-size: 1vh;*/
    /*a fonte tera 1vw ou 1vh. Será escolhido sempre o valor menor*/
    /*font-size: 1vmin;*/
    /*a fonte terá 1vw ou 1vh, dependendo de quem tiver o valor maior*/
    /*font-size: 1vmax;*/
}

#-----------------------------tamanho-de-fonte------------------------
.text-PT-8{
}

/*///////////////////////////////*/

@media (min-width: 480px){
    .btm-size{
        font-size: 112pt;    
    }
    .text-PT-8{
        font-size: 8pt
    }
}
@media (min-width: 768px){
    .btm-size{
        font-size: 12pt;    
    }
}
@media (min-width: 992px){
    .btm-size{
        font-size: 13pt;    
    }
}
@media (min-width: 1200px){
    .btm-size{
        font-size: 13pt;    
    }
}

linkb {}
textTH{}
Impressora {}

.column_hidden{}
/*font-family: "Arial Black", Gadget, sans-serif;*/

.select_whiteS{
  white-space: normal;
}

/*cor id*/
#cor-white {
    color: #000000;
}
#cor-grey {
    color: #999999;
}
#cor-black {
    color: #000;
}
#cor-red {
    color: #f75353;
}
#cor-green {
    color: #008749;
}
#cor-lblue {
    color: #32c8de;
}
#cor-blue {
    color: #609cec;
}
#cor-orange {
    color: #f78153;
}
#cor-yellow {
    color: #fcd419;
}
#cor-purple {
    color: #cb79e6;
}
#cor-rose {
    color: #ff61e7;
}
#cor-brown {
    color: #d08166;
}

/*cor Class*/
.cor-white {
    color: #000000;
    border-color: #000000;
}
.cor-grey {
    color: #999999;
    border-color: #eeeeee;
}
.cor-black {
    color: #000;
    border-color: #000000;
}
.cor-red {
    color: #f75353;
    border-color: #CC0000;
}
.cor-green {
    color: #008749;
    border-color: #008749;
}
.cor-lblue {
    color: #32c8de;
    border-color: #32c8de;
}
.cor-blue {
    color: #609cec;
    border-color: #609cec;
}
.cor-orange {
    color: #f78153;
    border-color: #f78153;
}
.cor-yellow {
    color: #fcd419;
    border-color: #fcd419;
}
.cor-purple {
    color: #cb79e6;
    border-color: #cb79e6;
}
.cor-rose {
    color: #ff61e7;
    border-color: #ff61e7;
}
.cor-brown {
    color: #d08166;
    border-color: #d08166;
}

.MyHRtransparent{
    border-color: transparent;
    border-style: none
}

.col-xs-0{
    width: 0.1px;
}
/*font-family: "Arial Black", Gadget, sans-serif;*/

.CaixaAlta{
    text-transform: uppercase
}

.CaixaBaixa{
    text-transform: lowercase
}

.login-distancia-top{
    bottom: 40px
}
#-------------------------------------------------------------------------------
table{
    max-width: none !important;
}

.table{
    font-size: 12pt
}

.table th{
    font-size: 14pt;
    color:#367FA9 
}
#-------------------------------------------------------------------------------
input {
    -webkit-box-shadow: 0 0 0px 1000px #f9fbfd inset !important;
    -webkit-text-fill-color: #221a1c !important;
}

select {
    -webkit-box-shadow: 0 0 0px 1000px #f9fbfd inset !important;
    -webkit-text-fill-color: #221a1c !important;
}

/*input:-webkit-autofill 
{    
    -webkit-box-shadow: 0 0 0px 1000px #f9fbfd inset !important;
    -webkit-text-fill-color: #4D90FE !important;
}*/

.fundo{   
background: rgb(187, 243, 253); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(187, 243, 253, 1) 0%, rgba(135, 193, 251, 1) 24%, rgba(107, 167, 227, 1) 51%, rgba(143, 190, 239, 1) 52%, rgba(145, 185, 227, 1) 80%, rgba(181, 225, 253, 1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, -45deg, color-stop(0%, rgba(187, 243, 253, 1)), color-stop(24%, rgba(135, 193, 251, 1)), color-stop(51%, rgba(107, 167, 227, 1)), color-stop(52%, rgba(143, 190, 239, 1)), color-stop(80%, rgba(145, 185, 227, 1)), color-stop(100%, rgba(181, 225, 253, 1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(187, 243, 253, 1) 0%, rgba(135, 193, 251, 1) 24%, rgba(107, 167, 227, 1) 51%, rgba(143, 190, 239, 1) 52%, rgba(145, 185, 227, 1) 80%, rgba(181, 225, 253, 1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(187, 243, 253, 1) 0%, rgba(135, 193, 251, 1) 24%, rgba(107, 167, 227, 1) 51%, rgba(143, 190, 239, 1) 52%, rgba(145, 185, 227, 1) 80%, rgba(181, 225, 253, 1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(187, 243, 253, 1) 0%, rgba(135, 193, 251, 1) 24%, rgba(107, 167, 227, 1) 51%, rgba(143, 190, 239, 1) 52%, rgba(145, 185, 227, 1) 80%, rgba(181, 225, 253, 1) 100%); /* IE10+ */
background: linear-gradient(-45deg, rgba(187, 243, 253, 1) 0%, rgba(135, 193, 251, 1) 24%, rgba(107, 167, 227, 1) 51%, rgba(143, 190, 239, 1) 52%, rgba(145, 185, 227, 1) 80%, rgba(181, 225, 253, 1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BBF3FD', endColorstr='#B5E1FD',GradientType=1 ); /* IE6-8 */
}

.progress-bar-cinsa {
  background-color: slategray;
}
.progress-striped .progress-bar- {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}