<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table class="table table-bordered table-responsive" id="dataTables">
            <thead>
                <tr>
                    <th>nome</th>
                    <th>modelo</th>
                    <th>status</th>
                    <th>nivel de toner</th>
                    <th>ip</th>
                    <th>S R</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>