<!DOCTYPE html>
<html lang="{lang}">
    <head>
        {HEAD}
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            {HRADER_MENU}
            <div class="content-wrapper">
                <!-- Seção principal -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="box with-border">
                                <div class="box-header">
                                        {PARTSFORMDASHBOARD}                                                    
                                </div>
                                <div class="box-body">
                                    <div class="row" id="g"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- /.content-wrapper -->
            {FOOTER}
        </div>
        <!-- /.wrapper -->
        {SCRIPT_UTIL}
        {SCRIPT}
        {SCRIPT_CHAR}
        
        <script src="{caminho}assets/plugins/morris.js/morris.js"></script>
        <script src="{caminho}assets/js/Grafico_configs.js"></script>
        <script src="{caminho}assets/js_json/Json_DashboardEI.js"></script>
        <script type="text/javascript">
            Refet(1, 6000);
        </script>
    </body>
</html>
