<!DOCTYPE html>
<html lang="{lang}">
    <head>
        {HEAD}
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            {HRADER_MENU}
            <div class="content-wrapper">
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="box with-border">
                                <div class="box-header">

                                </div>
                                <div class="box-body">
                                </div>
                                <div class="box-footer">
                                    <div id="app" class="container">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            {FOOTER}
        </div>
        <!-- /.wrapper -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        {SCRIPT_UTIL}
        {SCRIPT}
        <script src="{caminho}assets/js/Index_Responsividadejs.js" ></script>
    </body>
</html>
