<!DOCTYPE html>
<html lang="{lang}">
    <head>
        {HEAD}
        <link rel="stylesheet" href="{caminho}assets/css/cssGrafico.css" />
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            {HRADER_MENU}
            <div class="content-wrapper">

                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        ChartJS
                        <small>Preview sample</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href="#">Charts</a></li>
                        <li class="active">ChartJS</li>
                    </ol>
                </section>

                <section class="content">
                    <div class="row">
                        {DIV_GRAFIGO}
                    </div>
                </section>
            </div>
            {ModalHome}
            {FOOTER}
        </div>

        {SCRIPT_UTIL}
        
        <script src="{caminho}assets/plugins/raphael/raphael.min.js"></script>
        <script src="{caminho}assets/plugins/jquery/dist/jquery.min.js"></script>
        <script src="{caminho}assets/plugins/morris.js/morris.min.js"></script>
        
        {SCRIPT}
        {SCRIPT_CHAR}

        <!--<script src="{caminho}assets/js/GraficosJson.js" type="text/javascript"></script>-->
        <!--<script src="{caminho}assets/js_json/Json_Dashboard.js" type="text/javascript"></script>-->
        <!--<script src="{caminho}assets/js/GraficosJsonI.js" type="text/javascript"></script>-->

        <script src="{caminho}assets/js_json/testJSON.js"></script>

    </body>
</html>
