<!DOCTYPE html>
<html lang="{lang}">
    <head>
        {HEAD}
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            {HRADER_MENU}
            <div class="content-wrapper">
                <!-- Seção principal -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="box with-border">
                                <div class="box-header">
                                    
                                    {PARTSFORMHOME}
                                    
                                    {INFOCOTAHOME}
                                    
                                </div>
                                <div class="box-body">
                                    {TABLE}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- /.content-wrapper -->
            {ModalHome}
            {FOOTER}
        </div>
        <!-- /.wrapper -->
        {SCRIPT_UTIL}
        {SCRIPT}
        <script src="{caminho}assets/js/Index_Responsividadejs.js" ></script>
        <script src="{caminho}assets/js_json/Json_Index{tagTab}{quotaOUbalance}.js"></script>
        <script type="text/javascript"> Refet(1, 6000);</script>
    </body>
</html>
