<!DOCTYPE html>
<html lang="{lang}">
    <head>
        {HEAD}
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            {HRADER_MENU}
            <div class="content-wrapper">
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="box with-border">
                                <div class="box-header">
                                    <h1>Solicitar Cota</h1>
                                </div>
                                <div class="box-body">
                                </div>
                                <div class="box-footer">
                                    <div id="" class="row">
                                        <form class="form-horizontal style-form" method="post" 
                                              id="form" onsubmit="//return validarForm();"
                                              action="">
                                            <input type="hidden" name="acao" value="s"/>

                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-6 col-md-2 col-lg-2 control-label"><strong class="text-red">*</strong>Usuário</label>
                                                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                                                    <input type="text" name="" class="form-control" {disabled} value="" placeholder="" required>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-6 col-md-2 col-lg-2 control-label"><strong class="text-red">*</strong>Data</label>
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                    <input type="date" name="" class="form-control" {disabled} value="" placeholder="" required>
                                                </div>
                                                <label class="col-xs-12 col-sm-6 col-md-2 col-lg-2 control-label"><strong class="text-red">*</strong>Quantidade</label>
                                                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                                                    <input type="number" name="" class="form-control" {disabled} value="" placeholder="" required>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">

                                                <h6><strong class="text-red"> Obsevação: Campos com "*" são obrigatorio.</strong></h6>
                                                <hr/>

                                                <button type="submit" class="btn btn-primary col-xs-12 col-sm-12 col-md-12 col-lg-12">Salvar</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="content">,
                                        <hr/>
                                        <table class="table table-bordered table-responsive" > 
                                            <thead>
                                                <tr>
                                                    <th>Usúario</th>
                                                    <th>Data</th>
                                                    <th>Quantidade</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            {FOOTER}
        </div>
        <!-- /.wrapper -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        {SCRIPT_UTIL}
        {SCRIPT}
        <script src="{caminho}assets/js/Index_Responsividadejs.js" ></script>
    </body>
</html>
