
<table class="table table-responsive">
    <thead>
        <tr>
            <th class="">QDD</th>
            <th class="" >Produto</th>
            <th class="" >Valor</th>
            <th class="" >Valor Total</th>
            <th class="text-right" >
                <a href="#" class="adicionarCampo btn btn-info" title="Adicionar item">Add</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="linhas">
            <td><input type="text" name="qdd[]" value="1"></td>
            <td><input type="text" name="nome[]" value=""></td>
            <td><input type="text" name="valor[]" value=""></td>
            <td><input type="text" name="valort[]" value=""></td>
            <td class="text-right" >
                <a href="#" class="removerCampo btn btn-danger" title="Remover item" >Rem</a>
            </td>
        </tr>
    </tbody>
</table>
